body {
  background-color: gold;
  font-family: Calibri;
}

h1 {
  color: black; 
  font-size: 60px;
}

div {
  border-style: dashed;
  border-color: black;
  padding: 0%;
  length: 300;
  width: 300;
}
