body {
  text-align: center;
  background-color: gold;
  font-family: Calibri;
}


div {
  border-style: dashed;
  border-color: black;
  padding: 0%;
  length: 300;
  width: 300;
}


h1 {
  color: Black; 
  font-size: 60px;
}
